<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/twitter-bootstrap/4.1.0/css/bootstrap.min.css">
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/4.7.0/css/font-awesome.min.css">
    <link rel="stylesheet" href="">
    <link rel="stylesheet" type="text/css" href="{{ url_for('static', filename='styles.css') }}">
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/ionicons/2.0.1/css/ionicons.min.css">
    <link rel="stylesheet" href="{{ url_for('static', filename='Login-Form-Clean.css') }}">
    {% if title %}
        <title>My Blog - {{ title }}</title>
    {% else %}
        <title>My Blog</title>
    {% endif %}
</head>
<body style="background-color: #f1f7fc">
<header>
    <nav class="navbar navbar-dark bg-primary navbar-expand-md">
        <div class="container"><a class="navbar-brand" href="{{ url_for('main.home') }}">SIMPLE BLOG </a>
            <button class="navbar-toggler" data-toggle="collapse" data-target="#navcol-1"><span class="sr-only">Toggle navigation</span><span
                    class="navbar-toggler-icon"></span></button>
            <div class="collapse navbar-collapse"
                 id="navcol-1">
                <ul class="nav navbar-nav">
                    <li class="nav-item mr-auto" role="presentation"><a class="nav-link "
                                                                        href="{{ url_for('main.home') }}"><i class="fa fa-home" style="font-size: 24px"></i>&nbsp;Home</a></li>
                    <li class="nav-item mr-auto" role="presentation"><a class="nav-link" href="{{ url_for('main.about') }}"><i class="fa fa-user" style="font-size: 23px;margin-top: .1rem;"></i>&nbsp;About</a>
                    </li>
                </ul>
                <ul class="nav navbar-nav ml-auto">
                    {% if current_user.is_authenticated %}
                        <li class="nav-item mr-auto" role="presentation"><a class="nav-link"
                                                                            href="{{ url_for('posts.new_post') }}"><i
                                class="far fa-edit" style="font-size: 25px;"></i>&nbsp;New Post</a>
                        </li>
                        <li class="nav-item mr-auto" role="presentation"><a class="nav-link "
                                                                            href="{{ url_for('users.account') }}"><i
                                class="fas fa-user-edit" style="font-size: 25px;"></i>&nbsp;Account</a>
                        </li>
                        <li class="nav-item mr-auto" role="presentation"><a class="nav-link pt-1"
                                                                            href="{{ url_for('users.logout') }}"><i class="icon ion-log-out" style="font-size: 23px"></i>&nbsp;Logout</a>
                        </li>
                    {% else %}
                        <li class="nav-item mr-auto" role="presentation"><a class="nav-link mb-1 "
                                                                            href="{{ url_for('users.login') }}"><i class="icon ion-log-in" style="font-size: 25px"></i>&nbsp;Login</a></li>
                        <li class="nav-item mr-auto" role="presentation"><a class="nav-link"
                                                                            href="{{ url_for('users.register') }}"><i class="fa fa-user-circle" style="font-size: 24px;margin-top: .5rem"></i>&nbsp;Register</a>
                        </li>
                    {% endif %}
                </ul>
            </div>
        </div>
    </nav>
</header>
<main class="container" role="main">
    <div class="row">
        <div class="col-md-8" style="margin-top: 2rem;">
            {% with messages = get_flashed_messages(with_categories=true) %}
                {% if messages %}
                    {% for category, message in messages %}
                        <div class="alert alert-{{ category }}">
                            {{ message }}
                        </div>
                    {% endfor %}
                {% endif %}
            {% endwith %}
            {% block content %}{% endblock %}
        </div>
        <div class="col-md-4">
            <div class="content-section" style="margin-top: 2rem;">
                <h3>Heading</h3>
                <p class="text-muted">Paragraph</p>
                <ul class="list-group">
                    <li class="list-group-item first-lst"><span>List Group Item 1</span></li>
                    <li class="list-group-item"><span>List Group Item 2</span></li>
                    <li class="list-group-item third-lst"><span>List Group Item 3</span></li>
                </ul>
            </div>
        </div>
    </div>
</main>

<script src="https://cdnjs.cloudflare.com/ajax/libs/jquery/3.2.1/jquery.min.js"></script>
<script src="https://cdnjs.cloudflare.com/ajax/libs/twitter-bootstrap/4.1.0/js/bootstrap.bundle.min.js"></script>
</body>
</html>